body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#report-button {
  position: fixed;
  bottom: 5px;
  left:50%; //Moves the element to the left by 50%
  transform: translateX(-50%);
}
